@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    
    background-image: linear-gradient(to right, #73403C, #260B0B);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #130505;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {color: #190F40;
    text-align: center;
    text-shadow: 1px 1px 2px #130505;
    
}
h2 {color: #080726;

}
p {
    text-align: justify;
}